
/* Container for  whole page */
.home-container {
  background-color: #e0f7fa;
  min-height: 100vh; 
  padding: 2px;
}
div {
    font-family: Arial,sans-serif;
    
  }
  
  /* Styles for  notes section */
  .notes-section {
    margin-bottom: 2rem;
  }
  .logout-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
}
.logout-button-container button {
  background-color:#f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
    
}
.logout-button-container button:hover {
  background-color: #d32f2f;
}
  
  .notes-section h2 {
    color: #333;
    font-size: 24px;
   
    
  }
  
  .note {
    background-color: #f9f9f9;
    border-left: 5px solid #007bff;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
  }
 
  

  
  
  .create{
    display: flex;
    justify-content: center;
    
  }
  form {
    background-color: #ffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
  }
  
  form h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  